footer {
    color: #E6E8F4;
    font-family: 'Barlow';
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #999999;
}

.copyright {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 45px;
    align-items: center;
}

/* Principal */
.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    max-height: 499px;
    gap: 60px;
}


.frames {
    display: flex;
    gap: 20px;
}

.frame,
.newsletter {
    max-width: 326px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.newsletter {
    font-family: 'Roboto';
    font-weight: 400;
    display: flex;
    gap: 6px;
    flex-direction: column;
}

.agree {
    font-size: 14px;
}

p.title {
    white-space: nowrap;
    width: auto;
}

.emailInput {
    width: 300px;
    height: 40px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
    padding: 15px;
    background-color: #E1E1E1;
}

button[type="submit"] {
    width: 100px;
    height: 30px;
    background-color: #AAAAAA;
    border-style: none;
    font-family: 'Roboto';
    font-weight: 400;
    color: #FAFAFA;
    cursor: pointer;
}

.a {
    gap: 30px;
}

.b {
    gap: 15px;
    line-height: 1.5;
}

.c {
    text-align: center;
    gap: 15px;
}

.d {
    gap: 60px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

#menu-social-media {
    display: flex;
    flex-direction: row;
    font-size: 40px;
    gap: 35px;
}

#end {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:768px) {
    .display-md {
        display: none !important;
    }

    footer .principal {
        align-items: center;
    }

    footer .frames {
        flex-direction: column;
        align-items: center;
    }

    footer .frame {
        align-items: center;
    }
}