*{
    font-family: 'Inter', sans-serif;
}
.homepage_main{
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    color:  #0076c1;


}


/******estilização seçao bem vindo**/
.welcome{
    background-color: #264248;
    color:#FFFFFF ;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.welcome_btn{
    width: 350px;
    height: 64px;
    left: 343px;
    top: 187px;
    background: #D9D9D9;
    border-radius: 100px;
}


.welcomebtn_text{
    color: black;
    text-decoration: none;
}


/*********** estilização seçao serviços***/
.section_services{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 73px 40px;
    gap: 60px;
    width: initial;
    background: #FFFFFF;
    color: #000000;
    justify-content: center;
}


.section_services_container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 73px 40px;
    gap: 44px;
    height: 710px;  
    justify-content: space-evenly;
}

.section_services_container_LP{
    width: 40%;
}

.section_services_container_LP_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.section_services_container_LP_content_services{
    display: flex;
    flex-direction: column;
}

.section_services_container_LP_content_services_type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    width: 250px;
    gap: 10px;
}

.LP_service_type_image_box{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.service_type_description{
    font-size: 24px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}

.section_services_dividing_line{
    height: 100%;
    border: 2px solid #000000;
}

.section_services_container_LE{
    width: 40%;
}

.section_services_container_LE_content_services{
    display: flex;
    flex-direction: column;
}

.section_services_container_LE_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.section_services_container_LE_content_services_1{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 30px;
}

.section_services_container_LE_content_services_2{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 30px;
}

.section_services_container_LE_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.section_services_container_LE_content_services_type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    width: 250px;
    gap: 10px;
}

.LE_service_type_image_box{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #D9D9D9;
}




#fade,#modal{
    transition: 0.75s;
    opacity: 1;
    pointer-events: all;
}

#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D9D9D9;
    width: 60%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    border-radius: 40px;
}

#modal_header{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

#modal_image_box{
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

#modal_close{
    border: none;
    background-color: #D9D9D9;
    font-size: 20px;
    cursor: pointer;
    width: 10px;
}

#modal_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#modal_title{
    font-size: 48px;
    text-align: center;
}

#modal_text{
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: justify;
}

#modal_button{
    background-color: #000000;
    color: #D9D9D9;
    font-size: 24px;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

#modal_button:hover{
    opacity: 0.85;
    transition: 0.5s;
}


#modal.modal_hide,#fade.modal_hide{
    opacity: 0;
    transition: 0.75s;
    pointer-events: none;
}

/***** estilizaçao seção Resultados *****/
.results{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 40px 0px;
    gap: 30px;
    background-color:#ebebeb;
    height: 400px;
   
}


.results_numbers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 0px;
}


.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    width: 280px;
    height: 310px;
}


.result_image{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background: #D9D9D9;
}






/***** estilização seção cases ****/
.cases{
display: flex;
flex-direction: column;
align-items: center;
padding: 30px 20px 40px 0px;
gap: 10px;
height: 488px;
background: #FFFFFF;
}


/**** estilização seção Apoiadores *****/
.supporters{
background-color:#ebebeb;
display: flex;
flex-direction: column;
align-items: center;
padding: 30px 0px 0px;
gap: 30px;
height: 364px;
}




.title_sections{
    font-size: 48px;
    font-weight: 600;
}
