
.homepage_main{
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    color:  #0076c1;


}


/******estilização seçao bem vindo**/
.welcome{
    background-color: #264248;
    color:#FFFFFF ;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.welcome_btn{
    width: 350px;
    height: 64px;
    left: 343px;
    top: 187px;
    background: #D9D9D9;
    border-radius: 100px;
}


.welcomebtn_text{
    color: black;
    text-decoration: none;
}


/*********** estilização seçao serviços***/
.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 73px 40px;
    gap: 30px;
    width: initial;
    height: 868px;
    background: #FFFFFF;


}


.services_content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 73px 40px;
    gap: 44px;
    height: 710px;
   
}


/*.service_type{
    width: 500px;
    height:600px;
}*/


.service_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 30px;
   
}
.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    gap: 10px;


}


.service_img{
    width: 150px;
    height: 150px;
    background: #D9D9D9;
    border-radius: 50%;
}


.service_description{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}


.dividing_line{
    width: 600px;
    height: 0px;
    border: 2px solid #000000;
    transform: rotate(-90deg);
    display: flex;
    align-self: center;
   
}




/***** estilizaçao seção Resultados *****/
.results{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 40px 0px;
    gap: 30px;
    background-color:#ebebeb;
    height: 400px;
   
}


.results_numbers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 0px;
}


.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    width: 280px;
    height: 310px;
}


.result_image{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background: #D9D9D9;
}






/***** estilização seção cases ****/
.cases{
display: flex;
flex-direction: column;
align-items: center;
padding: 30px 20px 40px 0px;
gap: 10px;
height: 488px;
background: #FFFFFF;
}


/**** estilização seção Apoiadores *****/
.supporters{
background-color:#ebebeb;
display: flex;
flex-direction: column;
align-items: center;
padding: 30px 0px 0px;
gap: 30px;
height: 364px;
}




.title_sections{
    font-size: 48px;
    font-weight: 600;
}
