*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:not(i){
    font-family: 'Barlow';
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style-type: none;
}

input:not([type=checkbox]):not([type=radio]) {
    border:none;
    appearance: none;
}

input:focus {
    outline: none;
}